* {
    font-family: 'Open Sans', sans-serif;
    border-radius: 0 !important;
}

/* Helpers */

.bold {
    font-weight: 600;
}

.darkgreen {
    color: #689636;
}

.green {
    color: #8CC152 !important;
}

.checkmark {
    font-size: 20px;
}

.red {
    color: #d33;
}

h1 .green {
    font-family: HelveticaNeue-CondensedBold, 'Roboto Condensed', sans-serif !important;
    font-weight: 600;
}

.home div .green {
    display: inline-block;
}

td .green {
    display: block;
}

.white {
    color: #F5F7FA;
}

.hparent {
    overflow: hidden;
    position: relative;
}

.hchild {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.vparent {
    display: table;
    table-layout: fixed;
}

.vcparent {
    display: table;
    table-layout: fixed;
    height: 100%;
    margin: auto;
}

.vcparent .{
    margin: auto;
}

.vchild {
    display: table-cell;
    vertical-align: middle;
}

.list-inline {
    padding: 5px 0;
}

.list-inline > li > a,
.list-inline:hover > li > a,
.list-inline:active > li > a,
.list-inline:visited > li > a {
    color: #fff;
}
/* Root Styles */

body {
    overflow-x: hidden;
    padding-top: 108px;
}

section {
    padding-bottom: 60px;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999999999;
}

.titleBlock {
    text-align: center;
    background: url(../images/gplaypatternblack.png);
    background-repeat: repeat;
    min-height: 175px;
    max-height: 250px;
    padding: 15px 0;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.titleBlock h1 {
    font-family: HelveticaNeue-CondensedBold, 'Roboto Condensed', sans-serif !important;
    font-weight: 600;
    color: #fff;
}

.headerBlock {
	text-align: center;
	padding: 50px 0;
    font-family: HelveticaNeue-CondensedBold, 'Roboto Condensed', sans-serif !important;
    font-weight: 600;
    font-size: 56px;
    color: #444;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
/* Navigation */

.shoppingbar {
    height: 30px;
    background: #1b1b1b;
}

.navbar {
    height: 78px;
    background: #222;
    border: 0;
    border-radius: 0;
    margin: 0;
    z-index: 99999;
}

.navbar-brand {
    padding: 0;
}

.navbar-toggle {
    margin-top: 23px;
    margin-right: 23px;
    background: #444 !important;
    border-color: #666 !important;
}

.navbar-toggle:hover,
.navbar-toggle:focus,
.navbar-toggle:active {
    background: #555 !important;
    border-color: #777 !important;
}

.navbar-toggle .icon-bar {
    background: #fff !important;
}

.navbar-collapse.in, .navbar-collapse.collapsing {
    z-index: 9999999;
    border-color: #222;
    margin-top: 13px;
    background: #333;
    overflow-x: hidden;
}

.nav > li > a {
    padding: 10px 20px;
    padding-right: 0;
    border-radius: 5px;
    margin: 20px 0;
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: 300;
    color: #fff !important;
    outline: 0;
}

.nav > li:first-child > a {
    padding-left: 0;
    margin-left: 0;
}

.nav > li:last-child > a {
    padding-right: 0;
    margin-right: 0;
}

.navbar-collapse.in > ul > li > a, .navbar-collapse.collapsing  > ul > li > a {
    padding-left: 20px;
    margin-left: 20px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:link {
    background: none !important;
}

#navbar {
    width: auto;
    z-index: 9999999;
    margin: 0 !important;
    padding: 0 !important;
}

.dropdown-menu {
    margin-right: 18px;
    border-radius: 0px;
    background: #282828;
    box-shadow: none;
    padding: 0;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-menu > li > a {
    padding: 10px 20px;
    color: #fff;
    text-align: right;
    font-size: 16px;
}

.dropdown-menu > li > a:hover {
    color: #fff;
    background: #444;
}

#logo {
    margin: 15px;
    height: 100%;
}

/* Home */

.home {
    color: #F5F7FA;
    background: url(../images/gplaypatternblack.png);
    background-repeat: repeat;
    padding: 20px;
}

.home h1,
.home h2,
.home h3,
.home h1 .green,
.home h2 .green,
.home h3 .green {
    margin: 5px 10px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.50);
    font-family: HelveticaNeue-CondensedBold, 'Roboto Condensed', sans-serif !important;
    font-weight: 600;
}

.home h1 {
    margin-top: 0;
}

.home .btn,
.home ul {
    margin: 10px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.50);
}

.home .{
    padding: 0;
}

.home .btn-secure {
	background: #8CC152;
	border-radius: 5px;
	padding: 15px 30px;
	font-size: 24px;
}

.home .btn-secure:hover,
.home .btn-secure:focus {
	color: #fff;
}

.home ..vcparent {
	margin: auto 0;
	width: 100%;
}

/* What is SSL? */

.whatisssl {
    color: #fff;
    background: url(../images/gplaypatternlightgrey.png);
    background-repeat: repeat;
    padding: 20px;
}

.whatisssl .container{
    padding: 0;
}

.whatisssl h1 {
    font-size: 72px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 8px;
    margin-bottom: 0;
    white-space:nowrap;
    font-family: HelveticaNeue-CondensedBold, 'Roboto Condensed', sans-serif !important;
    font-weight: 600;
}

.whatisssl h1 .green {
    font-family: HelveticaNeue-CondensedBold, 'Roboto Condensed', sans-serif !important;
    font-weight: 600;
}

.whatisssl h3 {
    color: #333;
    text-shadow: 1px 1px 0px rgba(100, 100, 100, 0.5);
    font-size: 29px;
    margin-top: 0;
    white-space:nowrap;
    font-family: HelveticaNeue-CondensedBold, 'Roboto Condensed', sans-serif !important;
    font-weight: 600;
}

.whatisssl #video {
    padding: 0;
    border: 5px #555 solid;
    border-radius: 5px;
}

.plans {
    background: url(../images/gplaypatternwhite.png);
    background-repeat: repeat;
}

.plans h3 {
    font-size: 35px;
    font-family: HelveticaNeue-CondensedBold, 'Roboto Condensed', sans-serif !important;
    font-weight: 600;
}

.plans h4 {
    font-size: 24px;
}

.plans h5 {
    font-size: 18px;
    font-weight: 600;
}

.plans .pricing-panel {
    position: relative;
}

.plans .pricing-panel-content, .plans .ucccolumn {
    font-size: 18px;
}

.plans .price {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
}

.plans .fa-lock {
    color: #eeee00;
    font-size: 48px;
}

.plans .panel {
    padding: 0;
}

.plans .uccpanel h3 {
    margin: 0;
}

.plans .ucctable {
    padding: 0;
    margin: 0;
}

.plans .ucctable tr > td:last-child {
    padding-left: 15px;
}

.plans .btn-secure {
    background: #8CC152;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 24px;
    color: #fff;
    font-family: HelveticaNeue-CondensedBold, 'Roboto Condensed', sans-serif !important;
    font-weight: 600;
}

.plans .btn-secure:hover,
.plans .btn-secure:focus {
    color: #fff;
}

.plans .ucccolumn {
    border: 1px #faa solid !important;
}

.plans .ucccolumn .panel-heading {
    color: #b22;
    background: #fcc;
}

.plans .ucccolumn ul {
    margin: 0;
}

.plans .ucccolumn li {
    border-right: none;
    border-left: none;
}

.features {}

.features .items {
    padding: 0;
    margin: 0;
}

.features .items > div {
    padding: 10px;
    /*border-top: 1px solid #ccc;*/
    border-bottom: 1px solid #ccc;
}

table > tbody > tr > td:nth-child(1) {
    text-align: center !important;
}

.faq {
    background: url(../images/gplaypatternlightgrey.png);
    background-repeat: repeat;
}

.faq .headerBlock {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.faq .panel-heading a{
    color: #444;
    text-decoration: none;
}

.faq .panel-title {
    font-size: 18px;
    font-weight: 600;
}

.comparison-chart .btn-secure {
    background: #8CC152;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.comparison-chart th,
.comparison-chart tr > td:nth-child(4),
.comparison-chart tr > td:nth-child(5),
.comparison-chart tr > td:nth-child(6),
.comparison-chart tr > td:nth-child(7){
    text-align: center;
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll !important;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}

.table-responsive>.table { 
    margin-bottom: 0;
}

.table-responsive>.table>thead>tr>th, 
.table-responsive>.table>tbody>tr>th, 
.table-responsive>.table>tfoot>tr>th, 
.table-responsive>.table>thead>tr>td, 
.table-responsive>.table>tbody>tr>td, 
.table-responsive>.table>tfoot>tr>td {
    white-space: nowrap;
}

@media only screen and (min-width: 768px) {
    .plans .ucccolumn .col-sm-8,
    .plans .ucccolumn .col-sm-7 {
        padding-left: 0;
    }

    .plans .ucccolumn .col-sm-4,
    .plans .ucccolumn .col-sm-5 {
        border-right: 1px #faa solid !important;
        padding-right: 0;
    }

    #plans .ucccolumn ul > li:first-child {
        border-top: 0;
    }
}

@media only screen and (max-width: 991px) {
    .plans .uccpanel {
        padding-top: 15px;
        text-align: center;
    }

    .plans .uccpanel h3{
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .titleBlock {
        padding: 25px 0;
    }

    .titleBlock h1 {
        font-size: 28px;
        margin: 0;
    }

    .titleBlock h2 {
        font-size: 20px;
        margin-bottom: 0;
    }

    .headerBlock {
        padding: 30px 0;
        font-size: 36px;
        margin: 0;
    }

    section {
        padding: 0;
    }

    .nav {
        margin: 0 !important;
    }

    .navbar-collapse.in, .navbar-collapse.collapsing {
        top: 13px;
        position: relative;
    }

    #navbar {
        margin: 0 -15px !important;
    }

    .navbar-collapse.in > ul > li > a, .navbar-collapse.collapsing > ul > li > a {
        padding: 5px 0;
    }

    .home {
        padding: 0;
    }

    .home .col-xs-12 {
        padding: 15px;
        text-align: center;
    }

    .home #getSecure {
        font-size: 28px;
        padding: 10px;
        font-family: HelveticaNeue-CondensedBold, 'Roboto Condensed', sans-serif !important;
        font-weight: 600;
        width: 100%;
        margin: 0;
    }

    .uccpanel {
        padding: 0;
    }

    .uccpanel h3 {
        font-size: 28px;
    }

    .uccpanel .col-xs-12 {
        padding: 0;
    }

    .uccpanel .btn-secure {
        font-size: 24px;
        padding: 10px 15px;
        width: 100%;
    }

    .features .items > div {
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .features .items > div {
        text-align: left;
    }
}