/* Large Devices, Wide Screens */
@media only screen and (min-width: 992px) {
	.home {
		height: calc(100% - 78px - 200px);
		min-height: 420px;
	}

	.home h1 {
		font-size: 82px;
	}

	.home h2 {
		font-size: 61px;
	}

	.home h3 {
		font-size: 24px;
	}

	.home .btn {
		padding: 15px 20px;
		font-size: 24px;
	}

	.home .inhome .seal {
		margin-left: -70%;
		width: 200%;
		position: absolute;
	}

	.whatisssl {
		height: 200px;
	}

	.whatisssl h1 {
		margin-top: 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.home {
		height: 440px;
	}

	.home h1 {
		font-size: 72px;
	}

	.home h2 {
		font-size: 58px;
	}

	.home h3 {
		font-size: 42px;
	}

	.whatisssl {
		height: 200px;
	}

	.whatisssl h1 {
		margin-top: 0;
	}
}

@media only screen and (max-width : 949px) {
	.home {
		height: 480px;
	}

	.home h1 {
		font-size: 72px;
	}

	.home h2 {
		font-size: 58px;
	}

	.home h3 {
		font-size: 42px;
	}

	.whatisssl {
		height: 200px;
	}

	.whatisssl h1 {
		margin-top: 0;
	}
}

@media only screen and (max-width : 904px){
	.home {
		height: 580px;
	}

	.home h1 {
		font-size: 72px;
	}

	.home h2 {
		font-size: 58px;
	}

	.home h3 {
		font-size: 42px;
	}

	.whatisssl {
		height: 200px;
	}

	.whatisssl h1 {
		margin-top: 0;
	}
}

@media only screen and (max-width : 800px) {
	.home {
		height: 580px;
	}

	.home h1 {
		font-size: 72px;
	}

	.home h2 {
		font-size: 58px;
	}

	.home h3 {
		font-size: 42px;
	}

	.whatisssl {
		height: 200px;
	}

	.whatisssl h1 {
		margin-top: 0;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.home {
		height: 530px;
	}

	.home h1 {
		font-size: 68px;
	}

	.home h2 {
		font-size: 54px;
	}

	.home h3 {
		font-size: 38px;
	}

	.whatisssl {
		height: 350px;
	}

	.whatisssl h1 {
		margin-top: 0;
	}
}

@media only screen and (max-width : 700px) {
	.home {
		height: 500px;
		/*padding: 0;*/
	}

	.home h1 {
		font-size: 64px;
	}

	.home h2 {
		font-size: 48px;
	}

	.home h3 {
		font-size: 36px;
	}
}

@media only screen and (max-width: 660px) {
	.home {
		height: 520px;
	}
}

@media only screen and (max-width: 644px) {
	.home {
		height: 540px;
	}
}

@media only screen and (max-width : 605px) {
	.home {
		height: 520px;
		/*padding: 0;*/
	}

	.home .inhome {
		height: auto;
		
		/*margin: 0;*/
	}

	.home h1 {
		font-size: 58px;
	}

	.home h2 {
		font-size: 44px;
	}

	.home h3 {
		font-size: 36px;
	}

	.whatisssl {
		height: 350px;
	}

	.whatisssl h1 {
		font-size: 64px;
	}

	.whatisssl h3 {
		font-size: 26px;
	}
}

@media only screen and (max-width: 565px) {
	.home {
		height: 480px;
	}

	.home h1 {
		font-size: 52px;
	}

	.home h2 {
		font-size: 38px;
	}

	.home h3 {
		font-size: 32px;
	}
}

@media only screen and (max-width: 510px) {
	.home {
		height: 480px;
	}
}

@media only screen and (max-width: 500px) {
	.home {
		height: 520px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.home {
		height: 440px;
		/*padding: 0;*/
	}

	.home .inhome {
		height: auto;
		
		margin: 0;
	}

	.home h1 {
		font-size: 50px;
	}

	.home h2 {
		font-size: 36px;
	}

	.home h3 {
		font-size: 30px;
	}

	.whatisssl {
		height: 300px;
	}

	.whatisssl h1 {
		font-size: 64px;
	}

	.whatisssl h3 {
		font-size: 26px;
	}
}

@media only screen and (max-width: 454px){
	.home {
		height: 480px;
	}
}

/* Even smaller devices */

@media only screen and (max-width: 400px){
	.whatisssl h1 {
		font-size: 58px;
	}

	.whatisssl h3 {
		font-size: 24px;
	}
}

@media only screen and (max-width: 385px){
	.home {
		height: 480px;
	}

	.home h1 {
		font-size: 48px;
	}

	.home h2 {
		font-size: 36px;
	}

	.home h3 {
		font-size: 28px;
	}
}

@media only screen and (max-width: 370px){
	.home {
		height: 440px;
	}

	.home h1 {
		font-size: 42px;
	}

	.home h2 {
		font-size: 32px;
	}

	.home h3 {
		font-size: 24px;
	}

	.whatisssl {
		height: 250px;
	}

	.whatisssl h1 {
		font-size: 52px;
	}

	.whatisssl h3 {
		font-size: 20px;
	}
}

@media only screen and (max-width: 330px){
	.home {
		height: 400px;
	}

	.home h1 {
		font-size: 36px;
	}

	.home h2 {
		font-size: 28px;
	}

	.home h3 {
		font-size: 20px;
	}

	.whatisssl {
		height: 240px;
	}

	.whatisssl h1 {
		font-size: 48px;
	}
}